In [19]:
import pandas as pd

In [20]:
df=pd.read_csv("H:\my university files\internship now\github\jonathan output file\image15.csv")
#H:\my university files\internship now\github\jonathan output file\imageHasOnLeftRightCenterTopBottom.csv
#H:\my university files\internship now\github\5th may2020\me\image15.csv

In [21]:
df.head()

,Image name,X1,Y1,X2,Y2,object name,X-centre,Y-centre,X-Image Dimentions,Y-Image Dimentions,diagonal object,has on the left,has on the right,has on the top,has on the bottom,has in the center,index
0,download (15).jpg,196,55,255,114,elephant,225.5,84.5,300,168,83.438600,na,elephant,na,na,na,0
1,download (15).jpg,77,58,155,115,cow,116.0,86.5,300,168,96.607453,na,na,na,na,cow,1
2,download (15).jpg,254,50,299,116,elephant,276.5,83.0,300,168,79.881162,na,elephant,na,na,na,2
3,download (15).jpg,7,74,71,122,cow,39.0,98.0,300,168,80.000000,cow,na,na,na,na,3
4,download (15).jpg,171,83,194,118,cow,182.5,100.5,300,168,41.880783,na,na,na,na,cow,4

In [26]:
# object_id_list = []
x_values = []
y_values=[]
relations = []
relationship=[]
for _,row in df.iterrows():
#     object_id_list.append(row['object id'])
    x_values.append(row['X-centre'])
    y_values.append(row['Y-centre'])

In [23]:
def remove_value(current_element_index, current_list):
    if current_element_index==0:
        new_list = current_list[1:]
        return new_list
    new_list = current_list[:current_element_index-1]+current_list[current_element_index:] #new_list=empty list+
    return new_list

In [27]:
for index,current_element in enumerate(x_values):
    new_x_values = remove_value(index, x_values)
    for new_element in new_x_values:
        if current_element<new_element:
            relations.append(f'object {x_values.index(current_element)} is to the left of object {x_values.index(new_element)}')
        if current_element>new_element:
            relations.append(f'object {x_values.index(current_element)} is to the right of object {x_values.index(new_element)}')

In [28]:
for index,current_element in enumerate(y_values):
    new_y_values = remove_value(index, y_values)
    for new_element in new_y_values:
        if current_element<new_element:
            relationship.append(f'object {y_values.index(current_element)} is to the top of object {y_values.index(new_element)}')
        if current_element>new_element:
            relationship.append(f'object {y_values.index(current_element)} is to the bottom of object {y_values.index(new_element)}')

In [43]:
x=[1,2,3,4]
a=x[:3]

In [44]:
a

[1, 2, 3]

In [46]:
x[1:0]

[]