In [232]:
import pandas as pd

In [233]:
df = pd.read_csv('H:\my university files\internship now\github\jonathan output file\image15.csv')

In [234]:
df

,Image name,X1,Y1,X2,Y2,object name,X-centre,Y-centre,X-Image Dimentions,Y-Image Dimentions,...,has on the left,has on the right,has on the top,has on the bottom,has in the center,index,left immediate,right immediate,bottom immediate,top immediate
0,download (15).jpg,196,55,255,114,elephant,225.5,84.5,300,168,...,na,elephant,na,na,na,0,na,cow,cow,na
1,download (15).jpg,77,58,155,115,cow,116.0,86.5,300,168,...,na,na,na,na,cow,1,elephant,na,na,elephant
2,download (15).jpg,254,50,299,116,elephant,276.5,83.0,300,168,...,na,elephant,na,na,na,2,na,cow,cow,na
3,download (15).jpg,7,74,71,122,cow,39.0,98.0,300,168,...,cow,na,na,na,na,3,cow,na,cow,na
4,download (15).jpg,171,83,194,118,cow,182.5,100.5,300,168,...,na,na,na,na,cow,4,cow,na,na,cow
5,download (15).jpg,241,52,300,115,cow,270.5,83.5,300,168,...,na,cow,na,na,na,5,na,elephant,elephant,na
6,download (15).jpg,69,74,88,118,elephant,78.5,96.0,300,168,...,elephant,na,na,na,na,6,elephant,na,na,elephant
7,download (15).jpg,79,53,162,114,elephant,120.5,83.5,300,168,...,na,na,na,na,elephant,7,elephant,na,elephant,na
8,download (15).jpg,159,96,174,117,elephant,166.5,106.5,300,168,...,na,na,na,na,elephant,8,na,na,na,na

In [235]:
# object_id_list = []
x_values = []
object_name_list=[]
Image_name_list=[]
y_values=[]
for _,row in df.iterrows():
#     object_id_list.append(row['object id'])
    x_values.append(row['X-centre'])
    object_name_list.append(row['object name'])
    Image_name_list.append(row['Image name'])
    y_values.append(row['Y-centre'])

In [236]:

if x_values[0]<x_values[0]:
    print('true')
else:
    print('false')

false

In [160]:
# #=IF(AND(A3=A2,G3>G2),F3,"na")
isInTheRightOf=[]
if x_values[0]>x_values[1]:
    isInTheRightOf.append(object_name_list[1])
else:
    isInTheRightOf.append('na')

In [186]:
isInTheRightOf

[]

In [187]:
isInTheRightOf=[]
for i in range(len(x_values)):
    for j in range(i + 1, len(x_values)):
#         print(object_name_list[i],object_name_list[j])
        
        if x_values[i]>x_values[j]:
            
#             isInTheRightOf.append(object_name_list[j])
#             print(object_name_list[j])
            print(object_name_list[i],"is in the right of",object_name_list[j]
        elif y_values[i]>y_values[j]:
            print(object_name_list[i],"is at the bottom of",object_name_list[j]
        elif y_values[i]<y_values[j]:
            print(object_name_list[i],"is at the top of",object_name_list[j]

            
        else:
            print(object_name_list[i],"is in the left of",object_name_list[j])

SyntaxError: invalid syntax (<ipython-input-187-c9bf67c0e402>, line 11)

In [239]:
isInTheRightOf=[]
for i in range(len(x_values)):
    for j in range(i + 1, len(x_values)):        
        if x_values[0]>x_values[j]:
           isInTheRightOf.append(object_name_list[i+1])
        else:
            isInTheRightOf.append("na")
# my_dict = {"my_key": [value_1, value_2, value_3]}
# #=IF(AND(A3=A2,G3>G2),F3,"na")
# if(g2<g3:g10, g3:g10, "na")
isInTheRightOf

['cow',
 'na',
 'cow',
 'cow',
 'na',
 'cow',
 'cow',
 'cow',
 'na',
 'elephant',
 'elephant',
 'na',
 'elephant',
 'elephant',
 'elephant',
 'cow',
 'cow',
 'na',
 'cow',
 'cow',
 'cow',
 'cow',
 'na',
 'cow',
 'cow',
 'cow',
 'na',
 'cow',
 'cow',
 'cow',
 'elephant',
 'elephant',
 'elephant',
 'elephant',
 'elephant',
 'elephant']

In [222]:
# #=IF(AND(A3=A2,G3>G2),F3,"na")
# if(g2<g3:g10, g3:g10, "na")
#         elif y_values[i]>y_values[j]:
#             print(object_name_list[i],"is at the bottom of",object_name_list[j])
#         elif y_values[i]<y_values[j]:
#             print(object_name_list[i],"is at the top of",object_name_list[j])
if x_values[0]>x_values[1]:
    print(object_name_list[1])
else:
    print('na')

cow

In [ ]:
# #=IF(AND(A3=A2,G3>G2),F3,"na")
# if Image_name_list[0]==Image_name_list[1:] and x_values[0]<x_values[1:]: 
#     print(object_name_list[0],"is left of", object_name_list[1])
# elif Image_name_list[0]==Image_name_list[1] and x_values[0]>x_values[1]: 
#     print(object_name_list[0],"is right of", object_name_list[1])
# elif Image_name_list[0]==Image_name_list[1] and y_values[0]<y_values[1]:
#     print(object_name_list[0],"is top of", object_name_list[1])
# elif Image_name_list[0]==Image_name_list[1] and y_values[0]>y_values[1]:
#     print(object_name_list[0],"is bottom of", object_name_list[1])

In [52]:
isInTheRightOf=[]
for i in range(len(x_values)):
    for j in range(i + 1, len(x_values)):
        if x_values[i]>x_values[j]:
            isInTheRightOf.append(object_name_list[i+1])
        else:
            isInTheRightOf.append('na')

In [53]:
isInTheRightOf

['elephant',
 'na',
 'elephant',
 'elephant',
 'na',
 'elephant',
 'elephant',
 'elephant',
 'na',
 'cow',
 'na',
 'na',
 'cow',
 'na',
 'na',
 'cow',
 'cow',
 'cow',
 'cow',
 'cow',
 'cow',
 'na',
 'na',
 'na',
 'na',
 'na',
 'na',
 'elephant',
 'elephant',
 'elephant',
 'cow',
 'cow',
 'cow',
 'na',
 'na',
 'na']